#drop-location {
	width:116.9px;
	top:-200px;
	position: absolute;
    margin-left: 128px;
    -webkit-transition: transform 0s ease;
       -moz-transition: transform 0s ease;
        -ms-transition: transform 0s ease;
         -o-transition: transform 0s ease;
            transition: transform 0s ease;
}

.drop-nav {
	transform:translateY(330px);
	text-align: center;
    -webkit-transition: transform 0.s ease
       -moz-transition: transform 0s ease;
        -ms-transition: transform 0s ease;
         -o-transition: transform 0s ease;
            transition: transform 0s ease;
}

.drop-content button {
	width:100%;
	background-color: white;
	color:steelblue;
	padding: 4px 0 4px 0;
}

.drop-content button:hover, .drop-content button:focus {
	background-color:steelblue;
	color:white;
}

#edu-text {
	justify-content:center;
	text-align: center;
	display:flex;
	flex-direction:column;
}


#logo-ucsc {
	margin:auto;
	min-width:200px;
	width:20vw;

}

.unstyled-ul{
	text-align: middle;
	padding:0;
}