html, body {
  background: black;
  overflow: hidden;
}

.noshow {
  display: none;
}

button {
  border: none;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: #00001a;
  background-color: white;
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

.unstyled-ul {
  list-style: none;
  text-decoration: none;
}
.unstyled-ul ul {
  margin: 2px 0 2px 0;
}
.unstyled-ul li {
  margin: 4px 0 4px 0;
}

.styled-a {
  text-decoration: none;
  color: yellow;
}

.styled-a:hover {
  color: white;
  text-decoration: underline;
}

.styled-text-0 {
  color: yellow;
  font-size: 1.1em;
  text-decoration: underline;
}

.styled-text-1 {
  color: yellow;
  text-decoration: none;
}

#place-holder {
  top: 124px;
  position: absolute;
  width: 100%;
  height: 80%;
  opacity: 0.9;
}

#nav-header {
  height: 100px;
  margin: 0;
  display: flex;
  background-color: #00001a;
  color: white;
}
#nav-header span {
  margin: auto;
}

#nav-bar {
  background-color: white;
  height: 30px;
  display: flex;
}
#nav-bar button {
  text-decoration: none;
  text-align: center;
  border: none;
  height: inherit;
  padding: 0 30px;
  cursor: pointer;
  color: #00001a;
  background-color: white;
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}
#nav-bar button:hover {
  background-color: #00001a;
  color: white;
}
#nav-bar button:focus {
  outline: none;
  background-color: #00001a;
  color: white;
}

#nav-btn {
  height: 20px;
  margin: auto 4px auto 4px;
  -webkit-transition: height 0.4s ease;
  -moz-transition: height 0.4s ease;
  -ms-transition: height 0.4s ease;
  -o-transition: height 0.4s ease;
  transition: height 0.4s ease;
}

#nav-btn:hover {
  height: 20px;
  cursor: pointer;
}

.nav-hide {
  transform: translateY(-100px);
}

#nav-module {
  position: sticky;
  top: 0;
  z-index: 20;
}

#nav-module, #content-module {
  -webkit-transition: transform 0.4s ease;
  -moz-transition: transform 0.4s ease;
  -ms-transition: transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
}

.hidden {
  display: none;
}

.page-contents {
  position: relative;
  margin: 20px auto 0 auto;
  min-width: 300px;
  width: 50%;
  color: white;
  background-color: #00001a;
  padding: 15px;
  border-radius: 5%;
  text-align: left;
  -webkit-box-shadow: 10px 10px 13px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 13px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 13px -1px rgba(0, 0, 0, 0.5);
}

/* portfolio.css */
#drop-location {
  width: 116.9px;
  top: -200px;
  position: absolute;
  margin-left: 128px;
  -webkit-transition: transform 0s ease;
  -moz-transition: transform 0s ease;
  -ms-transition: transform 0s ease;
  -o-transition: transform 0s ease;
  transition: transform 0s ease;
}

.drop-nav {
  transform: translateY(330px);
  text-align: center;
  -webkit-transition: transform 0s ease;
  -moz-transition: transform 0s ease;
  -ms-transition: transform 0s ease;
  -o-transition: transform 0s ease;
  transition: transform 0s ease;
}

.drop-content button {
  width: 100%;
  background-color: white;
  color: #00001a;
  padding: 4px 0 4px 0;
}

.drop-content button:hover, .drop-content button:focus {
  background-color: #00001a;
  color: white;
}

#edu-text {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#logo-ucsc {
  margin: auto;
  min-width: 200px;
  width: 20vw;
}

.unstyled-ul {
  text-align: middle;
  padding: 0;
}

/* contact.css */
#contact-text {
  text-align: center;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
