$btn-bg: rgb(0, 0, 26);
$btn-color: white;
$bg-color: black;

$styled-text-color: yellow;

@mixin transition($trans-props) {
    -webkit-transition: $trans-props;
       -moz-transition: $trans-props;
        -ms-transition: $trans-props;
         -o-transition: $trans-props;
            transition: $trans-props;
}

@mixin box-shadow($box-props) {
	-webkit-box-shadow: $box-props;
	-moz-box-shadow: $box-props;
	box-shadow: $box-props;	
}

html, body {
	background: $bg-color;
	overflow-x: hidden;
}

.noshow {
	display:none;
}

button {
	border:none;
	text-decoration: none;
	cursor:pointer;
	outline: none;
	color: $btn-bg;
	background-color: $btn-color;
	@include transition(background-color .4s ease);
}

.unstyled-ul {
	list-style: none;
	text-decoration: none;
	ul {
		margin:2px 0 2px 0;
	}
	li {
		margin:4px 0 4px 0;
	}
}

.styled-a {
	text-decoration: none;
	color:yellow;
}

.styled-a:hover{
	color:white;
	text-decoration: underline;
}

.styled-text-0 {
	color:$styled-text-color;
	font-size: 1.1em;
	text-decoration: underline;
}

.styled-text-1 {
	color: $styled-text-color;
	text-decoration: none;
}

#place-holder {
	top: 124px;
    position: absolute;
    width:100%;
    height:80%;
    opacity:0.9
}

#nav-header {
	height:100px;
	margin:0;
	display:flex;
	background-color: $btn-bg;
	color: $btn-color;
	span {
		margin:auto;
	}
}

#nav-bar {
	background-color: $btn-color;
	height:30px;
	display:flex;
	button {
		text-decoration: none;
		text-align: center;
		border:none;
		height:inherit;
		padding:0 30px;
		cursor:pointer;
		color: $btn-bg;
		background-color: $btn-color;
	    @include transition(background-color 0.4s ease);
	}
	button:hover {
		background-color: $btn-bg;
		color: $btn-color;
	}
	button:focus {
		outline:none;
		background-color: $btn-bg;
		color: $btn-color;
	}
}

#nav-btn {
	height:20px;
	margin: auto 4px auto 4px;
	@include transition(height 0.4s ease);
}

#nav-btn:hover {
	height:20px;
	cursor:pointer;
}

.nav-hide {
	transform: translateY(-100px);
}

#nav-module {
	position: fixed;
	width:100%;
	top: 0;
	z-index: 20;
}

#nav-module, #content-module, #place-holder {
	@include transition(transform .4s ease);
}

.hidden {
	display:none;
}

.page-contents {
	position:relative;
	margin: 20px auto 0 auto;
	min-width:300px;
	width:50%;
	color:$btn-color;
	background-color:$btn-bg;
	padding:15px;
	border-radius: 5%;
	text-align:left;
	@include box-shadow(10px 10px 13px -1px rgba(0,0,0,0.5));
}

/* portfolio.css */

#drop-location {
	width:116.9px;
	margin-top:30px;
	position: absolute;
    margin-left: 128px;
}

.drop-nav {
	transform:translateY(330px);
	text-align: center;
    @include transition(transform 0s ease);
}

.drop-content button {
	width:100%;
	background-color: $btn-color;
	color:$btn-bg;
	padding: 4px 0 4px 0;
}

.drop-content button:hover, .drop-content button:focus {
	background-color:$btn-bg;
	color:$btn-color;
}

#edu-text {
	justify-content:center;
	text-align: center;
	display:flex;
	flex-direction:column;
}


#logo-ucsc {
	margin:auto;
	min-width:200px;
	width:20vw;

}

.unstyled-ul{
	text-align: middle;
	padding:0;
}

/* contact.css */

#contact-text {
	text-align: center;
	justify-content:center;
}

canvas[resize] {
    width: 100%;
    height: 100%;
}